<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Appointment Calendar</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="../../css/appt.css" th:href="@{/css/appt.css}" />
    <style>
      body {font-family: Arial, Helvetica, sans-serif;}
      * {box-sizing: border-box;}
      
      /* Button used to open the contact form - fixed at the bottom of the page */
      .open-button {
        background-color: #555;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        opacity: 0.8;
        position: fixed;
        bottom: 23px;
        right: 28px;
        width: 280px;
      }
      
      /* The popup form - hidden by default */
      .form-popup {
        display: none;
        position: fixed;
        bottom: 0;
        right: 15px;
        border: 3px solid #f1f1f1;
        z-index: 9;
      }
      
      /* Add styles to the form container */
      .form-container {
        max-width: 300px;
        padding: 10px;
        background-color: white;
      }
      
      /* Full-width input fields */
      .form-container input[type=text], .form-container input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
      }
      
      /* When the inputs get focus, do something */
      .form-container input[type=text]:focus, .form-container input[type=password]:focus {
        background-color: #ddd;
        outline: none;
      }
      
      /* Set a style for the submit/login button */
      .form-container .btn {
        background-color: #04AA6D;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom:10px;
        opacity: 0.8;
      }
      
      /* Add a red background color to the cancel button */
      .form-container .cancel {
        background-color: red;
      }
      
      /* Add some hover effects to buttons */
      .form-container .btn:hover, .open-button:hover {
        opacity: 1;
      }

      .openDay {
        border: 2px solid black;
        background-color: lightgrey;
        border-radius: 25%;
        float: right;
        width: 25%;
        text-align: center;
      }
    </style>
  </head>

  <body>
  
    <p th:utext="#{home.welcome}">Appointment Calendar for Chris G!</p>
  
    <p>
      Today is: <span th:with="df=#{date.format}" th:text="${#calendars.format(today,df)}"></span>
    </p>
  
    <table>
      <tr>
      	<td style="text-align: left;"><button type="button" th:attr="onclick=|showPrevMonth(${session.cm})|">&lt;</button></td>
      	<td colspan="5" th:text="${session.cmd}" style="text-align: center;font-size: large;"></td>
      	<td style="text-align: right;"><button type="button" th:attr="onclick=|showNextMonth(${session.cm})|">&gt;</button></td>
      </tr>
      <tr>
        <td>Sunday</td>
        <td>Monday</td>
        <td>Tuesday</td>
        <td>Wednesday</td>
        <td>Thursday</td>
        <td>Friday</td>
        <td>Saturday</td>
      </tr>
      <tr>
        <td th:each="day : ${week1}">
          <div style="padding-bottom: 5%;">
            <span th:text="${day.displayDate}"></span>
            <span th:attr="onclick=|openScheduleAppt('${day.calendarDate}')|" th:text="${day.calendarDate}? '+'" th:class="${day.calendarDate}? 'openDay'"></span>
            <div class="form-popup" th:attr="id=|${day.calendarDate}|">
              <form class="form-container">
                <h1>Create new appointment?</h1>
            
                <label for="startHour"><b>Start Time Hour:</b></label>
                <input type="number" placeholder="Enter hour that the meeting starts" name="startHour" th:attr="id=|${day.calendarDate}-startHour|" required>
  
                <label for="startMinute"><b>Start Time Minute:</b></label>
                <input type="number" placeholder="Enter minute that the meeting starts" name="startMinute" th:attr="id=|${day.calendarDate}-startMinute|" required>
  
                <label for="endHour"><b>End Time Hour:</b></label>
                <input type="number" placeholder="Enter hour that the meeting ends" name="endHour" th:attr="id=|${day.calendarDate}-endHour|" required>
  
                <label for="endMinute"><b>End Time Minute:</b></label>
                <input type="number" placeholder="Enter minute that the meeting ends" name="endMinute" th:attr="id=|${day.calendarDate}-endMinute|" required>
            
                <button type="button" class="btn" th:attr="onclick=|makeNewAppointment('${day.calendarDate}')|">Submit</button>
                <button type="button" class="btn cancel" th:attr="onclick=|closeScheduleAppt('${day.calendarDate}')|">Close</button>
              </form>
            </div>
          </div>
          <span th:each="appt : ${day.appointList}">
            <div th:attr="onclick=|openReserveForm('${appt.startingTime}')|" style="border:solid 2px black;">
              <span th:text="${appt.startingTimeFormatted}"></span> <span th:text="${appt.displayText}"></span>
            </div>
            <div class="form-popup" th:attr="id=|${appt.startingTime}|">
              <form class="form-container">
                <h1>Reserve?</h1>
            
                <label for="name"><b>Name:</b></label>
                <input type="text" placeholder="Enter Name" name="name" th:attr="id=|${appt.startingTime}-name|" required>
            
                <button type="button" class="btn" th:attr="onclick=|takeTimeSlot('${appt.startingTime}')|">Submit</button>
                <button type="button" class="btn cancel" th:attr="onclick=|closeReserveForm('${appt.startingTime}')|">Close</button>
              </form>
            </div>
          </span>
        </td>
      </tr>
      <tr>
        <td th:each="day : ${week2}">
          <div style="padding-bottom: 5%;">
            <span th:text="${day.displayDate}"></span>
            <span th:attr="onclick=|openScheduleAppt('${day.calendarDate}')|" th:text="${day.calendarDate}? '+'" th:class="${day.calendarDate}? 'openDay'"></span>
            <div class="form-popup" th:attr="id=|${day.calendarDate}|">
              <form class="form-container">
                <h1>Create new appointment?</h1>
            
                <label for="startHour"><b>Start Time Hour:</b></label>
                <input type="number" placeholder="Enter hour that the meeting starts" name="startHour" th:attr="id=|${day.calendarDate}-startHour|" required>
  
                <label for="startMinute"><b>Start Time Minute:</b></label>
                <input type="number" placeholder="Enter minute that the meeting starts" name="startMinute" th:attr="id=|${day.calendarDate}-startMinute|" required>
  
                <label for="endHour"><b>End Time Hour:</b></label>
                <input type="number" placeholder="Enter hour that the meeting ends" name="endHour" th:attr="id=|${day.calendarDate}-endHour|" required>
  
                <label for="endMinute"><b>End Time Minute:</b></label>
                <input type="number" placeholder="Enter minute that the meeting ends" name="endMinute" th:attr="id=|${day.calendarDate}-endMinute|" required>
            
                <button type="button" class="btn" th:attr="onclick=|makeNewAppointment('${day.calendarDate}')|">Submit</button>
                <button type="button" class="btn cancel" th:attr="onclick=|closeScheduleAppt('${day.calendarDate}')|">Close</button>
              </form>
            </div>
          </div>
          <span th:each="appt : ${day.appointList}">
            <div th:attr="onclick=|openReserveForm('${appt.startingTime}')|" style="border:solid 2px black;">
              <span th:text="${appt.startingTimeFormatted}"></span> <span th:text="${appt.displayText}"></span>
            </div>
            <div class="form-popup" th:attr="id=|${appt.startingTime}|">
              <form class="form-container">
                <h1>Reserve?</h1>
            
                <label for="name"><b>Name:</b></label>
                <input type="text" placeholder="Enter Name" name="name" th:attr="id=|${appt.startingTime}-name|" required>
            
                <button type="button" class="btn" th:attr="onclick=|takeTimeSlot('${appt.startingTime}')|">Submit</button>
                <button type="button" class="btn cancel" th:attr="onclick=|closeReserveForm('${appt.startingTime}')|">Close</button>
              </form>
            </div>
          </span>
        </td>
      </tr>
      <tr>
        <td th:each="day : ${week3}">
          <div style="padding-bottom: 5%;">
            <span th:text="${day.displayDate}"></span>
            <span th:attr="onclick=|openScheduleAppt('${day.calendarDate}')|" th:text="${day.calendarDate}? '+'" th:class="${day.calendarDate}? 'openDay'"></span>
            <div class="form-popup" th:attr="id=|${day.calendarDate}|">
              <form class="form-container">
                <h1>Create new appointment?</h1>
            
                <label for="startHour"><b>Start Time Hour:</b></label>
                <input type="number" placeholder="Enter hour that the meeting starts" name="startHour" th:attr="id=|${day.calendarDate}-startHour|" required>
  
                <label for="startMinute"><b>Start Time Minute:</b></label>
                <input type="number" placeholder="Enter minute that the meeting starts" name="startMinute" th:attr="id=|${day.calendarDate}-startMinute|" required>
  
                <label for="endHour"><b>End Time Hour:</b></label>
                <input type="number" placeholder="Enter hour that the meeting ends" name="endHour" th:attr="id=|${day.calendarDate}-endHour|" required>
  
                <label for="endMinute"><b>End Time Minute:</b></label>
                <input type="number" placeholder="Enter minute that the meeting ends" name="endMinute" th:attr="id=|${day.calendarDate}-endMinute|" required>
            
                <button type="button" class="btn" th:attr="onclick=|makeNewAppointment('${day.calendarDate}')|">Submit</button>
                <button type="button" class="btn cancel" th:attr="onclick=|closeScheduleAppt('${day.calendarDate}')|">Close</button>
              </form>
            </div>
          </div>
          <span th:each="appt : ${day.appointList}">
            <div th:attr="onclick=|openReserveForm('${appt.startingTime}')|" style="border:solid 2px black;">
              <span th:text="${appt.startingTimeFormatted}"></span> <span th:text="${appt.displayText}"></span>
            </div>
            <div class="form-popup" th:attr="id=|${appt.startingTime}|">
              <form class="form-container">
                <h1>Reserve?</h1>
            
                <label for="name"><b>Name:</b></label>
                <input type="text" placeholder="Enter Name" name="name" th:attr="id=|${appt.startingTime}-name|" required>
            
                <button type="button" class="btn" th:attr="onclick=|takeTimeSlot('${appt.startingTime}')|">Submit</button>
                <button type="button" class="btn cancel" th:attr="onclick=|closeReserveForm('${appt.startingTime}')|">Close</button>
              </form>
            </div>
          </span>
        </td>
      </tr>
      <tr>
        <td th:each="day : ${week4}">
          <div style="padding-bottom: 5%;">
            <span th:text="${day.displayDate}"></span>
            <span th:attr="onclick=|openScheduleAppt('${day.calendarDate}')|" th:text="${day.calendarDate}? '+'" th:class="${day.calendarDate}? 'openDay'"></span>
            <div class="form-popup" th:attr="id=|${day.calendarDate}|">
              <form class="form-container">
                <h1>Create new appointment?</h1>
            
                <label for="startHour"><b>Start Time Hour:</b></label>
                <input type="number" placeholder="Enter hour that the meeting starts" name="startHour" th:attr="id=|${day.calendarDate}-startHour|" required>
  
                <label for="startMinute"><b>Start Time Minute:</b></label>
                <input type="number" placeholder="Enter minute that the meeting starts" name="startMinute" th:attr="id=|${day.calendarDate}-startMinute|" required>
  
                <label for="endHour"><b>End Time Hour:</b></label>
                <input type="number" placeholder="Enter hour that the meeting ends" name="endHour" th:attr="id=|${day.calendarDate}-endHour|" required>
  
                <label for="endMinute"><b>End Time Minute:</b></label>
                <input type="number" placeholder="Enter minute that the meeting ends" name="endMinute" th:attr="id=|${day.calendarDate}-endMinute|" required>
            
                <button type="button" class="btn" th:attr="onclick=|makeNewAppointment('${day.calendarDate}')|">Submit</button>
                <button type="button" class="btn cancel" th:attr="onclick=|closeScheduleAppt('${day.calendarDate}')|">Close</button>
              </form>
            </div>
          </div>
          <span th:each="appt : ${day.appointList}">
            <div th:attr="onclick=|openReserveForm('${appt.startingTime}')|" style="border:solid 2px black;">
              <span th:text="${appt.startingTimeFormatted}"></span> <span th:text="${appt.displayText}"></span>
            </div>
            <div class="form-popup" th:attr="id=|${appt.startingTime}|">
              <form class="form-container">
                <h1>Reserve?</h1>
            
                <label for="name"><b>Name:</b></label>
                <input type="text" placeholder="Enter Name" name="name" th:attr="id=|${appt.startingTime}-name|" required>
            
                <button type="button" class="btn" th:attr="onclick=|takeTimeSlot('${appt.startingTime}')|">Submit</button>
                <button type="button" class="btn cancel" th:attr="onclick=|closeReserveForm('${appt.startingTime}')|">Close</button>
              </form>
            </div>
          </span>
        </td>
      </tr>
      <tr>
        <td th:each="day : ${week5}">
          <div style="padding-bottom: 5%;">
            <span th:text="${day.displayDate}"></span>
            <span th:attr="onclick=|openScheduleAppt('${day.calendarDate}')|" th:text="${day.calendarDate}? '+'" th:class="${day.calendarDate}? 'openDay'"></span>
            <div class="form-popup" th:attr="id=|${day.calendarDate}|">
              <form class="form-container">
                <h1>Create new appointment?</h1>
            
                <label for="startHour"><b>Start Time Hour:</b></label>
                <input type="number" placeholder="Enter hour that the meeting starts" name="startHour" th:attr="id=|${day.calendarDate}-startHour|" required>
  
                <label for="startMinute"><b>Start Time Minute:</b></label>
                <input type="number" placeholder="Enter minute that the meeting starts" name="startMinute" th:attr="id=|${day.calendarDate}-startMinute|" required>
  
                <label for="endHour"><b>End Time Hour:</b></label>
                <input type="number" placeholder="Enter hour that the meeting ends" name="endHour" th:attr="id=|${day.calendarDate}-endHour|" required>
  
                <label for="endMinute"><b>End Time Minute:</b></label>
                <input type="number" placeholder="Enter minute that the meeting ends" name="endMinute" th:attr="id=|${day.calendarDate}-endMinute|" required>
            
                <button type="button" class="btn" th:attr="onclick=|makeNewAppointment('${day.calendarDate}')|">Submit</button>
                <button type="button" class="btn cancel" th:attr="onclick=|closeScheduleAppt('${day.calendarDate}')|">Close</button>
              </form>
            </div>
          </div>
          <span th:each="appt : ${day.appointList}">
            <div th:attr="onclick=|openReserveForm('${appt.startingTime}')|" style="border:solid 2px black;">
              <span th:text="${appt.startingTimeFormatted}"></span> <span th:text="${appt.displayText}"></span>
            </div>
            <div class="form-popup" th:attr="id=|${appt.startingTime}|">
              <form class="form-container">
                <h1>Reserve?</h1>
            
                <label for="name"><b>Name:</b></label>
                <input type="text" placeholder="Enter Name" name="name" th:attr="id=|${appt.startingTime}-name|" required>
            
                <button type="button" class="btn" th:attr="onclick=|takeTimeSlot('${appt.startingTime}')|">Submit</button>
                <button type="button" class="btn cancel" th:attr="onclick=|closeReserveForm('${appt.startingTime}')|">Close</button>
              </form>
            </div>
          </span>
        </td>
      </tr>
      <tr>
        <td th:each="day : ${week6}">
          <div style="padding-bottom: 5%;">
            <span th:text="${day.displayDate}"></span>
            <span th:attr="onclick=|openScheduleAppt('${day.calendarDate}')|" th:text="${day.calendarDate}? '+'" th:class="${day.calendarDate}? 'openDay'"></span>
            <div class="form-popup" th:attr="id=|${day.calendarDate}|">
              <form class="form-container">
                <h1>Create new appointment?</h1>
            
                <label for="startHour"><b>Start Time Hour:</b></label>
                <input type="number" placeholder="Enter hour that the meeting starts" name="startHour" th:attr="id=|${day.calendarDate}-startHour|" required>
  
                <label for="startMinute"><b>Start Time Minute:</b></label>
                <input type="number" placeholder="Enter minute that the meeting starts" name="startMinute" th:attr="id=|${day.calendarDate}-startMinute|" required>
  
                <label for="endHour"><b>End Time Hour:</b></label>
                <input type="number" placeholder="Enter hour that the meeting ends" name="endHour" th:attr="id=|${day.calendarDate}-endHour|" required>
  
                <label for="endMinute"><b>End Time Minute:</b></label>
                <input type="number" placeholder="Enter minute that the meeting ends" name="endMinute" th:attr="id=|${day.calendarDate}-endMinute|" required>
            
                <button type="button" class="btn" th:attr="onclick=|makeNewAppointment('${day.calendarDate}')|">Submit</button>
                <button type="button" class="btn cancel" th:attr="onclick=|closeScheduleAppt('${day.calendarDate}')|">Close</button>
              </form>
            </div>
          </div>
          <span th:each="appt : ${day.appointList}">
            <div th:attr="onclick=|openReserveForm('${appt.startingTime}')|" style="border:solid 2px black;">
              <span th:text="${appt.startingTimeFormatted}"></span> <span th:text="${appt.displayText}"></span>
            </div>
            <div class="form-popup" th:attr="id=|${appt.startingTime}|">
              <form class="form-container">
                <h1>Reserve?</h1>
            
                <label for="name"><b>Name:</b></label>
                <input type="text" placeholder="Enter Name" name="name" th:attr="id=|${appt.startingTime}-name|" required>
            
                <button type="button" class="btn" th:attr="onclick=|takeTimeSlot('${appt.startingTime}')|">Submit</button>
                <button type="button" class="btn cancel" th:attr="onclick=|closeReserveForm('${appt.startingTime}')|">Close</button>
              </form>
            </div>
          </span>
        </td>
      </tr>
    </table>
  </body>
  
  <script type="text/javascript">
    function openReserveForm(status) {
      document.getElementById(status).style.display = "block";
    }

    function closeReserveForm(status) {
      document.getElementById(status).style.display = "none";
    }

    function openScheduleAppt(status) {
      document.getElementById(status).style.display = "block";
    }

    function closeScheduleAppt(status) {
      document.getElementById(status).style.display = "none";
    }

    function showNextMonth(cm) {
      if (cm < 1 || cm > 11) {
        alert('Only Current Year handled.');
        return;
      }
      let newMonth = cm + 1;
      let url = 'http://localhost:8080/appointmentCalendar?action=updateMonth&newMonth=' + newMonth;
      window.location.href = url;
    }

    function showPrevMonth(cm) {
      if (cm < 2 || cm > 12) {
        alert('Only Current Year handled.');
        return
      }
      let newMonth = cm - 1;
      let url = 'http://localhost:8080/appointmentCalendar?action=updateMonth&newMonth=' + newMonth;
      window.location.href = url;
    }

    function takeTimeSlot(ts) {
      console.log(ts);
      let tsName = document.getElementById(ts + '-name').value;
      let url = 'http://localhost:8080/appointmentCalendar?action=update&name=' + tsName + '&ts=' + ts;
      window.location.href = url;
    }

    function makeNewAppointment(calendarDate) {
      console.log(calendarDate);
      let startHour = document.getElementById(calendarDate + '-startHour').value;
      let startMinute = document.getElementById(calendarDate + '-startMinute').value;
      let endHour = document.getElementById(calendarDate + '-endHour').value;
      let endMinute = document.getElementById(calendarDate + '-endMinute').value;
      let url = 'http://localhost:8080/appointmentCalendar?action=build&sHour=' + startHour + '&sMinute=' + startMinute + '&eHour=' + endHour + '&eMinute=' + endMinute + '&apptDate=' + calendarDate;
      console.log(url);
      window.location.href = url;
    }
  </script>

</html>